*{
margin:0;
padding:0;
box-sizing:border-box;
}

body{
font-family:'Poppins',sans-serif;
}

/* NAVBAR */

.navbar{
display:flex;
justify-content:space-between;
align-items:center;
padding:15px 8%;
background:white;
box-shadow:0 5px 15px rgba(0,0,0,0.05);
}

.logo img{
height:45px;
}

/* MENU */

.nav-links a{
margin:0 15px;
text-decoration:none;
color:#444;
}

/* HERO */

.hero{
height:90vh;
background:url("fundo2.jpeg") center/cover;
display:flex;
justify-content:center;
align-items:center;
position:relative;
text-align:center;
}

.overlay{
position:absolute;
width:100%;
height:100%;
background:rgba(255,255,255,0.6);
}

.hero-content{
position:relative;
}

.profile-pic{
width:150px;
border-radius:50%;
margin-bottom:15px;
}

.hero h1{
font-family:'Playfair Display';
color:#c7778f;
}

.btn-main{
background:#e68ba4;
padding:10px 25px;
border-radius:25px;
color:white;
text-decoration:none;
}

/* SERVIÇOS */

.services{
padding:80px 10%;
text-align:center;
}

.service-grid{
display:flex;
gap:20px;
justify-content:center;
}

.service-card{
padding:25px;
background:white;
border-radius:15px;
box-shadow:0 10px 25px rgba(0,0,0,0.05);
}

/* GALERIA */

.gallery{
padding:80px 10%;
text-align:center;
}

.gallery-grid{
display:grid;
grid-template-columns:repeat(auto-fit,minmax(200px,1fr));
gap:15px;
}

.gallery img{
width:100%;
border-radius:10px;
}

/* SOBRE */

.about{
padding:80px 10%;
background:#fff5f8;
text-align:center;
}

/* AGENDAMENTO */

.booking{
padding:80px 10%;
text-align:center;
}

.booking form{
max-width:400px;
margin:auto;
display:flex;
flex-direction:column;
gap:10px;
}

.booking input,
.booking select,
.booking textarea{
padding:10px;
border-radius:10px;
border:1px solid #ccc;
}

.booking button{
background:#e68ba4;
color:white;
padding:10px;
border:none;
border-radius:20px;
}

/* FOOTER */

footer{
background:#333;
color:white;
text-align:center;
padding:30px;
}
